h1,h2,h3,h4 {
	font-family: Segoe Script;
	font-size: 200%;
	color: (171, 137, 147);
	text-align: center;
 }
p{
	font-family: courier;
	font-size: 150%;
	color: (188, 159, 175);
	text-align: center;
}
